<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Matthew Diani</title>
<link href="/Static/css/style.css" rel="stylesheet">
</head>

<body>
<!-- Inserted image in the top to make it look like the R.H. Smith Website-->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
    <h1>About Me</h1>
<p>My name is Matthew Diani and I am from <strong>Midland Park, NJ</strong>. I am a senior at the University of Maryland, set to graduate in Spring 2024. After I graduate, I will be working full-time in Hoboken,NJ.</p>

    <h2>Major</h2>
<p>I decided to choose the majors Finance and Information Systems because I really enjoyed the classes <em>BMGT 340</em> and <em>BMGT 301</em>. I plan on using both majors in my professional career.</p>

<!-- Beginning of First Required List (Unordered). Used bold attribute to make the paragraph act as a header-->
<p><strong>These are my favorite hobbies</strong></p>
        <ul>
            <li>Golfing</li>
            <li>Watching Sports</li>
            <li>Video Games</li>
            <li>Fishing</li>
        </ul>
<!-- Beginning of Second Required List (Ordered)-->
<p><strong>These are my favorite sports teams (in order)</strong></p>
        <ol>
            <li>Boston Red Sox</li>
            <li>Boston Celtics</li>
            <li>New England Patriots</li>
            <li>Boston Bruins</li>
        </ol>
    <h3>Courses I Have Taken</h3>
        <table>
            <tr>
                <th>Course</th>
                <th>Semester</th>
            </tr>
            <tr>
                <td>BMGT 301</td>
                <td>Spring 2022</td>
            </tr>
            <tr>
                <td>BMGT 441</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT 340</td>
                <td>Spring 2022</td>
            </tr>
        </table>

    <p id="unique">I really enjoyed my time at UMD taking these classes. Although I did not know exactly what I wanted to do going into school, the insight of these classes narrowed my interests down to the Fintech industry post-graduation.</p>
    <p>The hello page can be accessed at <a href= "/hello">Hello Page</a>
    </p>
<!--Below are the two required website. The second one routs to a different browser-->
    <p>One of my favorite websites is <a href="https://www.mlb.com">The MLB Website</a></p>
    <p>Another one of my favorite websites is <a href="https://www.espn.com/fantasy/football/" target="_blank">My Fantasy Football Website</a> </p>

</body>
</html>